.nav-link, .nav-button button, .dropdown-item:hover {
  color: #195a7c !important;
}

.nav-link, .nav-button button, .dropdown-item {
  letter-spacing: .5px;
}

.nav-button button {
  font-size: 1rem;
  border-radius: 50px;
  padding: .2rem 1.6rem;
}

.nav-button button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: ease-in-out .5s;
}

.nav-button button, ul.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #195a7c;
}

ul.dropdown-menu {
  margin-left: 50%;
  text-align: center;
}

.dropdown-item {
  padding: .25rem .5rem !important;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.nav-link:hover {
  border-bottom: 2px solid #195a7c;
}
