html, body {
	overflow-x: hidden;
	width: 100%;
}

/* html {
	scroll-behavior: smooth;
} */

.wrapper {
  background: url('../images/background.jpg') no-repeat top;
  background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  opacity: .8;
}

button, button:active, button:focus {
  outline: none !important;
}

.header-section, h4, .down-arrow, .ba-btn {
  color: #ffffff;
}

.header-section h1 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  letter-spacing: 1px;
  font-size: 4rem;
}

.header-section p {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.header-section p, .ba-btn {
	font-size: 1.2rem;
}

.header-section p, h4. .ba-btn {
  letter-spacing: .5px;
}

#section {
	background-color: #195a7c;
	border-top: 1px solid #ef9a00;
}

h4 {
  font-size: 1.4rem !important;
}

.down-arrow {
  opacity: .7;
  font-size: 2.7rem !important;
}

.ba-btn {
	background-color: #ef9a00;
	padding: .6rem 1.2rem;
	border-radius: 2px;
	border: none;
	text-shadow: 1px 1px 1px rgba(214, 129, 0, 1);
}

.ba-btn:hover {
	background-color: rgba(239, 154, 0, .95) !important;
}

.bi-credit-card-fill, .bi-lock-fill, .bi-globe, .bi-cart-fill, .bi-cloud-check-fill, .bi-question-circle-fill, .bi-chat-fill {
  font-size: 3rem;
  color: #707070;
}

h5 {
  color: #707070;
  margin-top: .5rem !important;
}
