.about {
	background-color: #ffffff;
	padding: 3rem;
	border-radius: 20px;
}

.about p {
	color: #707070;
	letter-spacing: .6px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

.about p a {
	color: #195a7c;
	transition: all .3s;
}

.about p a:hover {
	color: #efa900;
}
