.about {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.about p {
	color: #707070;
	letter-spacing: .6px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

.about p a {
	color: #efa900;
	transition: all .3s ease;
}

.about p a:hover {
	color: #195a7c;
}
