html, body {
  overflow-x: hidden;
  width: 100%;
  text-align: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none !important;
}

a:active, a:focus, button:focus, button:active, [role="button"]:focus, [role="button"]:active, .btn:focus, .btn:active {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

p, ul, nav {
  font-family: 'Rubik', sans-serif;
}

/* Handles the height of every page. Keeps footer fixed to bottom */
.body-content {
  min-height: calc(100vh - 330px);
}

.wrapper {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,90,124,1) 69%, rgba(25,90,124,1) 100%);
  height: 15rem;
}

.wrapper h1 {
  font-family: 'Montserrat', sans-serif;
  color: #efa900;
  text-align: center;
  padding-top: 7.5rem;
}

/* Responsive CSS */
@media (max-width: 991px) {
  .header-section {
    padding: 8rem 0;
  }
  .header-hero {
    margin-bottom: 2.5rem;
  }
  .about-home h2 {
    margin-bottom: 1.2rem;
  }
  .about-home p:first-child {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .header-section {
    padding: 15rem 0;
  }
  .about-home h2 {
    margin-bottom: 2rem;
  }
  .about-home p:first-child {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .header-hero {
    margin-bottom: 0;
  }
  .header-screenshots {
    display: none;
  }
}
@media (max-width: 657px) {
  .banner h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 658px) {
  .banner h4 {
    font-size: 1.4rem;
  }
}
@media (max-width: 575px) {
  .news-title {
    padding-left: 15px;
  }
  .media-contact {
    margin-left: 10px;
  }
}
@media (min-width: 576px) {
  .news-title {
    padding-left: 0px !important;
  }
}
@media (max-width: 552px) {
  .header-section h1 {
    font-size: 2.5rem;
  }
  .header-section p {
    font-size: 1rem;
  }
}
@media (min-width: 553px) {
  .header-section h1 {
    font-size: 2.9rem;
  }
  .header-section p {
    font-size: 1.2rem;
  }
}
@media (max-width: 335px) {
  .affiliates-btn {
    font-size: .9rem;
    padding: .9rem 1.8rem;
  }
}
@media (min-width: 336px) {
  .affiliates-btn {
    font-size: 1.2rem;
    padding: 1.2rem 2.5rem;
  }
}