.contact {
	padding-top: 8rem;
	padding-bottom: 3rem;
}

.contact strong {
	font-weight: 600;
}

.contact h5 {
	font-family: 'Montserrat', sans-serif;
}

.contact p {
	letter-spacing: .2px;
	color: #707070;
	font-weight: 300;
}

.contact p a {
	color: #efa900;
	transition: all .3s ease;
}

.contact p a:hover {
	color: #195a7c;
	text-decoration: none;
}
