.footer {
	background-color: #000000;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.social h5, .copyright {
	color: #ffffff;
}

.social p a, .footer-menu, .disabled-link, .disabled-link:hover {
	color: #707070;
}

.social p a, .footer-menu ul li a {
	transition: all .3s;
}

.social h5, .social p a, ul, .copyright {
	letter-spacing: .5px;
}

.facebook a:hover {
	color: #4267B2;
}

.twitter a:hover {
	color: #1DA1F2;
}

.instagram a:hover {
	color: #C13584;
}

.linkedin a:hover {
	color: #006192;
}

.pinterest a:hover {
	color: #E60023;
}

ul {
	list-style: none;
	padding-left: 0;
}

.disabled-link {
	pointer-events: none;
}

.footer-menu ul li strong {
	font-size: 1.1rem;
}

.footer-menu ul li {
	margin-bottom: .5rem;
}

ul li a, .copyright {
	font-size: .9rem;
}

.footer-menu ul li a:hover {
	color: #efa900 !important;
}