/*.new-year-header {
	height: 450px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 24px;
	background-image: url(/images/new-year-background.jpg);
}*/

.news {
	padding-top: 6rem;
	padding-bottom: 4rem;
}

.news ul li {
	margin-bottom: 1.3rem;
}

.news ul li a {
	font-family: 'Rubik', sans-serif;
	color: #195a7c;
	font-size: 1.1rem;
	transition: all .3s ease;
}

.news ul li a:hover {
	color: #efa900;
}
