.pricing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tier {
  border-radius: 5px;
  box-shadow: 0 5px 12px 5px rgb(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 12px 5px rgb(0, 0, 0, .1);
  overflow: hidden;
}

.tier h4 {
  padding: 1.2rem;
  font-size: 1.2rem;
  letter-spacing: .2px;
  border-bottom: 2px solid #f6f9fc;
}

.tier h4, .tier-btn {
  font-family: 'Montserrat', sans-serif;
}

.advanced-tier h4 {
  border-bottom-color: rgb(30, 107, 148);
}

.tier-rate {
  letter-spacing: .3px;
}

.tier-text {
  padding: .3rem 2.5rem;
}

.advanced-tier {
  background-color: #195a7c;
}

.advanced-tier p, .advanced-tier .tier-text {
  color: #ffffff;
}

.tier-text p {
  margin-bottom: .5rem;
}

.tier-btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.1rem;
  width: 100%;
  padding: 2rem;
}

/* .tier {
  border-radius: 25px;
  border: 1px solid #000;
  overflow: hidden;
}



.tier-header h4, .tier-rate p, .tier-text p {
  margin-bottom: 0;
  letter-spacing: .2px;
}

.tier-header {
  background-color: #d3d3d3;
  padding: 1.5rem .5rem;
}

.tier-rate {
  padding: 1.3rem .5rem;
  font-size: 1.2rem;
  background-color: #eeeeee;
}

.tier-text {
  padding: 1rem .5rem;
  font-size: .9rem;
  font-weight: 300;
}

.tier-btn {
  padding: 0 2rem 2rem 2rem;
} */

.signup-btn {
  background-color: rgba(239, 169, 0, 1);
  color: #ffffff;
  padding: .9rem 1.3rem;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  letter-spacing: .3px;
  transition: all .4s ease;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(214, 129, 0);
}

.signup-btn:hover {
  color: #ffffff;
  background-color: rgba(239, 169, 0, .85);
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .3);
}
