.product-overview {
  padding-top: 8rem;
}

.product-overview h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #efa900;
}

.line {
  background-color: #000;
  height: 4px;
  margin-bottom: 2rem;
}
