.w9form {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.w9form p {
  font-weight: 300;
  letter-spacing: .3px;
  color: #707070;
  margin-bottom: 1.5rem;
}

.w9form a {
  color: #efa900;
  transition: all .3s ease;
  background-color: #195a7c;
  padding: .7rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  letter-spacing: .3px;
  border: none;
  box-shadow: 0 1px 10px 5px rgb(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 10px 5px rgb(0, 0, 0, .3);
}

.w9form a:hover {
  color: #efa900;
  background-color: rgba(45, 110, 144, 1);
}
