.footer {
  background-color: #000000;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

ul {
  padding-left: 0 !important;
}

.footer-menu ul h1 {
  letter-spacing: .9px;
}

.social p a:hover, .footer-menu li a:hover, .footer-menu h1 a:hover {
  color: #ef9a00;
}

.footer-menu h1, .footer-menu li, .copyright {
  font-size: .9rem;
}

.footer-menu li {
  margin-bottom: .5rem;
}

.footer-menu h1, .social p a, .footer-menu li a, .footer-menu h1 a {
  color: #707070;
}

.social p a, .footer-menu li a, .footer-menu h1 a {
  transition: all .3s;
}

.social h5, .copyright {
  color: #ffffff;
}
