.header-section {
  background: url('../images/background-min.jpg') no-repeat top;
  background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  opacity: .8;
}

.header-section .col-6 {
  margin-top: 25%;
}

.header-btn-1, #section, .bottom-section {
  background-color: #195a7c;
}

.header-btn-1 {
  margin-right: 1.2rem;
}

.header-btn-1, .header-btn-2 {

}

.header-btn-1:hover, .header-btn-2:hover {
  transform: scale(1.1);
}

.header-btn-2, .ba-btn {
  background-color: #efa900;
}

.header-btn-2, .testimonials .carousel-item p {
  color: #195a7c;
}

.material-icons-outlined, .testimonials .carousel-inner {
  vertical-align: middle;
}

.material-icons-outlined {
  font-size: 18px !important;
}

.header-btn-1, .header-btn-2 {
  border-radius: 1.18rem;
  padding: .4rem 1rem;
  border: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .3);
}

.bmt-vendor-screenshot, .bmt-cart-screenshot {
  box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.95);
  -webkit-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.95);
}

.bmt-vendor-screenshot {
  height: 350px;
}

.bmt-cart-screenshot {
  height: 380px;
  margin-top: -15px;
  margin-left: -170px;
}

.header-section, .header-btn-1, h4, .down-arrow, .ba-btn, .bottom-section {
  color: #ffffff;
}

.header-section h1 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  letter-spacing: 1px;
  font-size: 4rem;
}

.header-section p {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.header-section p, .ba-btn {
	font-size: 1.2rem;
}

#section {
	border-top: 1px solid #ef9a00;
}

h4 {
  font-size: 1.4rem !important;
}

.down-arrow {
  bottom: 0;
  position: absolute;
  right: 49%;
}

.down-arrow span {
  opacity: .7;
  font-size: 2.7rem !important;
}

.down-arrow span:hover {
	cursor: pointer;
}

#section h4, .ba-btn {
  letter-spacing: .5px;
}

.ba-btn {
	padding: .6rem 1.2rem;
	border-radius: 2px;
	border: none;
	text-shadow: 1px 1px 1px rgba(214, 129, 0, 1);
}

.ba-btn:hover {
	background-color: rgba(239, 154, 0, .9) !important;
}

.ba-btn, .cs-info p a, .header-btn-1, .header-btn-2 {
  transition: all .3s;
}

.services i {
  font-size: 3rem;
}

.services, .bottom-section {
  padding-top: 4rem;
}

.services {
  padding-bottom: 2.5rem;
}

.services h5 {
  margin-top: .5rem !important;
}

.services p, .bottom-section h2 {
  margin-bottom: 2rem;
}

.services h5, .services p, .services i {
  color: #707070;
}

.bottom-section {
  padding-bottom: 4rem;
}

.bottom-section h2 {
	letter-spacing: 1px;
	font-size: 2.2rem;
}

.testimonials .carousel {
  min-height: 143px;
  display: table;
  width: 100%;
}

.cs-info a {
	color: inherit;
}

.cs-info p, .cs-info p a, .cs-info p i {
  font-size: 1.1rem;
}

.cs-info p i {
  margin-right: .5rem;
}

.cs-info p a:hover, .features-card h5 {
  color: #ef9a00;
}

.testimonials .carousel-inner {
  display: table-cell;
}

.carousel-control-prev, .carousel-control-next {
  border: none;
  background-color: transparent;
}

.features-card {
  padding: 1.5rem 2.2rem !important;
  margin-bottom: 2rem;
  border: 1px solid #707070;
  border-radius: 6px;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .4);
}

.features-card i {
  font-size: 3rem;

}

.features-card p {
  font-size: .9rem;
}

.features-card h5 {
  letter-spacing: .8px;
}

.features-card p {
  text-align: left !important;
}

.bi-gear {
  -webkit-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
  position: absolute;
  margin:-60px 0 0 -60px;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { transform:rotate(-360deg); } }
