@media (max-width: 1399px) {
	.bmt-cart-screenshot {
		height: 310px;
		margin-left: -140px !important;
		margin-top: -10px !important;
	}
}

@media (max-width: 1200px) {
	.header-section h1 {
		font-size: 3.2rem !important;
	}
	/*.bmt-vendor-screenshot {
		height: 300px;
	}*/
	.bmt-cart-screenshot {
		height: 270px;
	  margin-left: -122px !important;
	}
}

@media (max-width: 992px) {
	.header-section {
		padding: 10rem 2rem;
	}
}

@media (max-width: 576px) {
	.header-section h1 {
		font-size: 2.8rem !important;
	}
	.header-section p {
		font-size: 1rem !important;
	}
}