.aboutSection {
	background-color: #195a7c;
	color: #ffffff;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.aboutSection h2 {
	margin-bottom: 2rem;
	font-size: 2.2rem;
}

.aboutSection h2, .aboutSection h5 {
	font-family: 'Montserrat', sans-serif;
}

.aboutSection p a {
	transition: all .3s;
}

.aboutSection p {
	letter-spacing: .6px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

.aboutSection i {
	margin-right: .5rem;
}

.aboutSection a {
	color: inherit;
}

.aboutSection p a:hover {
	color: #efa900 !important;
}