.features {
	padding-top: 4rem;
	padding-bottom: 1rem;
}

.features i {
	font-size: 3rem;
}

.features h5 {
	margin-top: .5rem;
	font-family: 'Montserrat', sans-serif;
}

.features p {
	margin-bottom: 2rem;
	letter-spacing: .3px;
	font-weight: 300;
}

.features i, .features h5, .features p {
	color: #707070;
}

.features-btn {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
	font-size: 1.1rem;
}

.features-btn, .features-btn .fas {
	color: #efa900;
	transition: all .3s ease;
}

.features-btn a:hover {
	color: #195a7c;
}

.features-btn .fas {
	font-size: 1rem;
}
