.testimonials {
	background-color: #d7d7d7;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

.testimonials p {
	color: #195a7c;
	letter-spacing: .5px;
	text-shadow: 1px 0px 0px rgba(0, 0, 0, .2);
}

.carousel {
	height: 125px;
}